@tailwind base;
@tailwind components;
@tailwind utilities;

/* 繁體中文字型 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

@layer base {
  html {
    font-family: 'Noto Sans TC', sans-serif;
  }
}
